<%= display_if_not_blank AuthenticatedSystem::Role.human_attribute_name(:title).s, h(@role.title).s %>
<%= display_if_not_blank AuthenticatedSystem::Role.human_attribute_name(:description).s, h(@role.description) %>
<% if !@permissions.empty? %>
     <p><b><%= AuthenticatedSystem::Permission.model_name.human(:count => :many).titleize.s %></b></p>
     <p>
<%=  @permissions.collect{|p| p.title}.join(', ') %>
     </p>
<% end %>
<p>&nbsp;<br/>
<% path = edit_authenticated_system_role_path(@role)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>