<p><label for="login"><%= AuthenticatedSystem::User.human_attribute_name(:login).s %></label><br/>
<%= f.text_field :login %></p>
<p><label for="email"><%= AuthenticatedSystem::User.human_attribute_name(:email).s %></label><br/>
<%= f.text_field :email %></p>
<p><label for="password"><%= AuthenticatedSystem::User.human_attribute_name(:password).s %></label><br/>
<%= f.password_field :password %></p>
<p><label for="password_confirmation"><%= AuthenticatedSystem::User.human_attribute_name(:password_confirmation).s %></label><br/>
<%= f.password_field :password_confirmation %></p>
<p><b><%= AuthenticatedSystem::User.model_name.human(:count => :many).titleize.s %></b></p>
<%=  render :partial => 'shared/double_select', :locals => { :available_options_title => "#{t(:available, :what => AuthenticatedSystem::Role.model_name.human(:count => :many))}:",
     :associated_options_title => "#{t('associate.d.record', :what => AuthenticatedSystem::Role.model_name.human(:count => :many))}",
     :associated_options => @user.roles.collect { |r| [r.title, r.id]},
     :all_options => @roles.collect { |r| [r.title, r.id]} } %>