<%= error_messages_for :user %>
<%= render :partial => 'people/show', :locals => {:person => @person} %>
<%= form_for [:person, @user], :url => authenticated_system_person_user_path(@person) do |f| -%>
<%=   render :partial => 'form', :locals => {:f => f} %>
<%  end -%>
<p>&nbsp;<br/>
<%= link_to ts('cancel.record', :what => t('new.this')), authenticated_system_people_path %> |
<%= link_to ts('back.to', :what => t('home.this')), root_path %>
</p>