<h1><%= ts 'list.ing.records', :what => AuthenticatedSystem::Person.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= AuthenticatedSystem::Person.human_attribute_name(:fullname).s %></th>
    <th><%= AuthenticatedSystem::User.human_attribute_name(:login).s %></th>
    <th><%= AuthenticatedSystem::Role.model_name.human(:count => :many).titleize.s %></th>
  </tr>
<% for person in @people %>
  <tr>
    <td>
<%  path = edit_authenticated_system_person_path(person)
    if authorized? path %>
<%=   link_to h(person.fullname).s, path %>
<%  else %>
<%=   link_to h(person.fullname).s, authenticated_system_person_path(person) %>
<%  end %>
	</td>
<%  user = person.user
    if !user.nil? %>
      <td>
<%	  path = edit_authenticated_system_person_user_path(person)
      if authorized? path %>
<%=     link_to(h(user.login), path) %>
<%    else %>
<%=     link_to(h(user.login), authenticated_system_person_user_path(person)) %>
<%    end %></td>
      <td><%= user.roles.collect do |r|
		        path = authenticated_system_role_path(r)
		        authorized?(path) ? link_to(h(r.title), path) : r.title
			  end.join(', ').html_safe %></td>
<%  else %>
      <td colspan="2"><%= link_to ts('new.record', :what => AuthenticatedSystem::User.model_name.human), new_authenticated_system_person_user_path(person) %></td>
<%  end %>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_authenticated_system_person_path
   if authorized? path %>
<%=  link_to ts('new.record', :what => AuthenticatedSystem::Person.model_name.human), path %> |
<% end %>
<%= link_to ts('back.to', :what => t('home.this')), root_path %>
</p>