<h2>User Information</h2>
<%= display_if_not_blank User.human_attribute_name(:identity_url).s, h(user.identity_url) %>
<%= display_if_not_blank User.human_attribute_name(:login).s, h(user.login) %>
<%= display_if_not_blank User.human_attribute_name(:email).s, h(user.email) %>
<%= display_if_not_blank User.human_attribute_name(:created_at).s, user.created_at %>
<%= display_if_not_blank User.human_attribute_name(:updated_at).s, user.updated_at %>
<% roles = user.roles
   if !roles.empty? %>
     <p><b><%= Role.human_name(:count => :many).titleize.s %>:</b></p>
     <ul class="normal">
<%   for role in roles %>
       <li><%= link_to h(role.title).s, role %></li>
<%   end %>
     </ul>
<% end %>