<h1><%= ts 'list.ing.records', :what => Permission.human_name(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Permission.human_attribute_name('title').s %></th>
    <th><%= Permission.human_attribute_name('description').s %></th>
  </tr>
<% for permission in @permissions %>
  <tr>
    <td><%= link_to h(permission.title).s, permission_path(permission) %></td>
    <td><%=h permission.description %></td>
  </tr>
<% end %>
</table>
<p>
<%= link_to ts('new.record', :what => Permission.human_name), new_permission_path %>
</p>