<div class='login-box'>
<fieldset>
	<div class='left-column'>
		<p>Log in with your <b>UVa account</b></p>
	</div>
	<div class='right-column'>
		<p><%= link_to 'Log in', shibboleth_url(:protocol => 'https'), :class => 'emphasize' %></p>
		<p class='red-caption'>Recommended. More secure!</p>
	</div>
</fieldset>
</div>
<p>&nbsp;</p>
<div class='login-box'>
<fieldset>
<%= form_tag authenticated_system_session_path do -%>
	<div class='left-column'>
     <p align="center"><b>Non-UVa User</b></p>
     <p><label for="login"><%= AuthenticatedSystem::User.human_attribute_name(:login).s %></label><br/>
<%=  text_field_tag 'login' %></p>
     <p><label for="password"><%= AuthenticatedSystem::User.human_attribute_name(:password).s %></label><br/>
<%=  password_field_tag 'password' %></p>
	</div>
	<div class='right-column'>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p><%= link_to "Forgot password?", new_authenticated_system_password_path %></p>
		<p>&nbsp;</p>
     <p><%= submit_tag 'Login' %></p>
     <p><label for="remember_me">Remember me: <%=  check_box_tag 'remember_me' %></label></p>
	</div>
<% end -%>
</fieldset>
</div>