<h1><%= ts 'list.ing.records', :what => Role.model_name.human.titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Role.model_name.human.titleize.s %></th>
    <th><%= Role.human_attribute_name(:description).s %></th>
  </tr>
<% for role in @roles %>
  <tr>
    <td><%=link_to h(role.title).s, role_path(role) %></td>
    <td><%=h role.description %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% authorized_only hash_for_new_role_path do %>
<%=  link_to ts('new.record', :what => Role.model_name.human), new_role_path %> |
<% end %>
<%= link_to ts('back.to', :what => t('home.this')), root_path %>
</p>