<h1><%= ts 'new.record', :what => Role.model_name.human.titleize %></h1>
<%= error_messages_for :role %>
<%= form_for(:role, :url => roles_path) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'creat.e.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= link_to ts('cancel.record', :what => t('new.this')), roles_path %> |
<%= link_to ts('back.to', :what => t('home.this')), root_path %>
</p>