<h1><%= ts 'new.record', :what => AuthenticatedSystem::Permission.model_name.human.titleize %></h1>
<%= error_messages_for :permission %>
<%= form_for(:permission, :url => authenticated_system_permissions_path) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'creat.e.this' %></p>
<%  end %>
<p><%= link_to ts('back.this'), authenticated_system_permissions_path %></p>